html,body {
  height: 100%;
  overflow: hidden;
  margin: 0;
}
body {
  font-family: "Avenir Next", Avenir, sans-serif;
  color: #dedede;
  font-weight: 300;
  font-size: 5vmin;
  line-height: 1.5;
  background: radial-gradient( circle, transparent, #000); /* color will be set in the Time Out prefs so transparent is set here */
}

h1 {
  font-size: 1.6em;
  font-weight: 300;
  margin: 0;
  position: relative;
}
h1::after {
  content: '';
  background: deeppink;
  width: 100%;
  height: 2em;;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  transform: rotate(4deg);
  z-index: -1;
}
h2 {
  font-style: italic;
  font-size: 1.1em;
  font-weight: 300;
  margin-top: 0;
  position: relative;
}
h2::after {
  content: '';
  background: deepskyblue;
  width: 120%;
  height: 1.5em;;
  display: inline-block;
  position: absolute;
  top: 0em;
  left: -1em;
  transform: rotate(-2deg);
  z-index: -1;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.cell {
  display: inline-block;
  flex: 0 0 auto;
  text-align: center;
}

.current-exercise {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 1.9em;
  position: relative;
  color: #333;
}
.current-exercise::after {
  content: '';
  background: lime;
  width: 120%;
  height: 1.5em;;
  display: inline-block;
  position: absolute;
  top: 0em;
  left: -0.5em;
  transform: rotate(2deg);
  z-index: -1;
}

.catalog-box {
  display: flex;
  flex-wrap: wrap;
  width: 40vw;
  font-size: 0.6em;
  background: black;
  text-align: center;
}

.catalog-box dl {
  display: block;
  width: 100%;
  margin: 0;
}
.catalog-box dt {
  background: tomato;
  display: inline-block;
  width: 60%;
  margin: 0;
}
.catalog-box dd {
  background: orange;
  display: inline-block;
  width: 40%;
  margin: 0;
  text-align: center;
}
