html,body {
  height: 100%;
  overflow: hidden;
  margin: 0;
}
body {
  font-family: "Avenir Next", Avenir, sans-serif;
  color: #dedede;
  font-weight: 300;
  font-size: 5vmin;
  line-height: 1.5;
  background: radial-gradient( circle, dodgerblue, #000)
}

h1 {
  font-size: 1.6em;
  font-weight: 300;
  margin-bottom: 0;
}
h2 {
  font-style: italic;
  font-size: 1.1em;
  font-weight: 300;
  margin-top: 0;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.cell {
  display: inline-block;
  flex: 0 0 auto;
  /*padding-bottom: 5em;*/
  text-align: center;
}

.display-box {
  text-transform: uppercase;
  font-weight: bolder;
  font-size: 1.9em;
}

.catalog-box {
  display: flex;
  width: 30vw;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-self: flex-end;
  font-size: 0.5em;
}

.catalog-box dt {
  flex: 1 1 80%;
}
.catalog-box dd {
  margin: 0;
  flex: 1 1 auto;
}
